body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  min-width: 100;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  width: 100%;
  height: 100vh;
 background-image: url(./d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./myps9j.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 80vh;
}
.bcr-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 30px;
}
.player {
  background: rgb(117, 35, 35);
  color: aliceblue;
  padding: 3px 100px;
  font-weight: 900;
  border-radius: 20px;
}
.banker {
  background: #ba9510;
  color: aliceblue;
  padding: 3px 100px;
  font-weight: 900;
  border-radius: 20px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}
.cards__item {
  display: flex;
  align-items: center;
}
.card {
  width: 95px;
  height: 150px;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-size: cover;
}
.card img {
  width: 100%;
  height: 100%;
}
.options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.options__center {
  display: flex;
  flex-direction: column;
}
.option {
  text-align: center;
  margin: 7px 0;
  border: 3px solid white;
  background-color: rgb(91, 126, 68);
  border-radius: 5px;
  font-size: 17px;
  padding: 5px 50px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}
.start {
  position: absolute;
  right: 15%;
  bottom: 15%;
  background-color: #ba9510;
  padding: 30px;
  font-weight: 900;
  color: aliceblue;
  border-radius: 100%;
}
@keyframes wobble-bottom {
  16.65% {
    transform: skew(-12deg);
  }

  33.3% {
    transform: skew(10deg);
  }

  49.95% {
    transform: skew(-6deg);
  }

  66.6% {
    transform: skew(4deg);
  }

  83.25% {
    transform: skew(-2deg);
  }

  100% {
    transform: skew(0);
  }
}

.wobble-bottom{
  display: inline-block;
  transform-origin: 100% 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  animation-name: wobble-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 5;
  display: inline-block;
  transform-origin: 100% 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%)
}
.item{
  display: flex;
  align-items: center;
}
.score{
  font-size: 38px;
  font-weight: 700;
}
h1 {
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 40px;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 300px;
  text-align: center;
  font-size: 16px;
}
.count-down{
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}