@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
    font-family: 'Product sans';
    src: url("../fonts/ProductSans-Regular.ttf"); }